#root > .Header {
    display: flex;
    flex-direction: row-reverse;
    background: white;
    align-items: center;
}

.Header > .Header__Button {
    color: black;
    border: 1px solid black;
    margin: 1vw 0;
    margin-right: 10vw;
}

.Header > .Header__Paragraph {
    color: black;
    margin: 1vw 0;
    margin-right: 10vw;
}
