.Modal__Box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 2px solid black;
    border-radius: 15px;
    height: 80%;
    width: 80%;
    justify-content: space-between;
}
